.page-header {
    display: flex;
}

.page-header__polytech-logo {
    width: 20%; 
    height: auto;
    align-self:flex-start;
}

.page-header__task-name {
    text-align: center;
    flex-basis: 60%;
}